HTML,BODY,DIV,SPAN,APPLET,OBJECT,IFRAME,H1,H2,H3,H4,H5,H6,P,BLOCKQUOTE,PRE,A,ABBR,ACRONYM,ADDRESS,BIG,CITE,CODE,DEL,DFN,EM,FONT,IMG,INS,KBD,Q,S,SAMP,SMALL,STRIKE,STRONG,SUB,SUP,TT,VAR,B,U,I,CENTER,DL,DT,DD,UL,LI,FIELDSET,FORM,LABEL,LEGEND,TABLE,CAPTION,TBODY,TFOOT,THEAD,TR,TH,TD{margin:0;padding:0;border:0;list-style-type:none; line-height:1.2; font-family: 'PT Sans Narrow', sans-serif; }
ol li {list-style-type:decimal; }
body {background:url('../images/main_bg.png') center top no-repeat #eeeeee; font-family:inherit;  background-size:cover; }
* .red {color:#e42424; }
a {ie-dummy:expression(this.hideFocus=true); moz-outline:none; outline:none; }
a, a:visited {text-decoration:none; color:#fb4400; }
a:hover, a:visited:hover {text-decoration:none; color:#016666;}
:focus {outline: 0; }
body,input, button {font-size:16px; color:#016666; }
.orange * {color:#fb4300;}
h1 {font-size:24px; text-shadow:1px 1px #fff; text-transform:uppercase;}
h2 {font-size:18px; text-shadow:1px 1px #fff; text-transform:uppercase;}
h3 {font-size:16px; text-shadow:1px 1px #fff; text-transform:uppercase;}
.bodydiv {width:100%; height:100%;position:relative; margin:0; padding:0;}
.clear {clear:both; line-height:0; height:0; font-size:0; visibility:hidden; }
.wrap {width:1000px; text-align:left; z-index:11; position:relative; background:url('../images/loader.gif') center 300px no-repeat; margin:0 auto;}
.top {height:170px; }
.cyberback {position:absolute; left:0; top:0; width:100%; background:url('../images/main_bg.png') center top no-repeat; z-index:1; overflow:hidden; }
.loginform {width:360px; height:30px; background:url('../images/cyberhelp_login.png') left top no-repeat; float:right; text-align:left; position:relative;  }
#jtmenu {width:1000px; height:50px; }
#jtmenu > ul {height:30px;max-width:100%;width:100%; padding:1em 0 0 1em;}
#jtmenu > ul > li {display:inline-block; width:23%; position:relative; text-align:center; margin-right:1%;}
#jtmenu > ul > li a {border-radius:5px; font-weight:bold; color:#fff; text-transform:uppercase; font-size:13px; display:block; padding:6px 9px; border:1px solid #fff; box-shadow: 0px 0px 5px 0 #016666;
background:#016666;
background: -moz-linear-gradient(top, #016666, #088282); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom,color-stop(0%,#016666), color-stop(100%,#088282));/* Chrome 1-9, Safari 4-5 */
    background: -webkit-linear-gradient(top, #016666, #088282);/* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(top, #016666, #088282); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #016666, #088282); /* IE10 */
    background: linear-gradient(top, #016666, #088282); /* CSS3 */
}
#jtmenu > ul > li a:hover, #jtmenu > ul > li.current > a, #jtmenu > ul > li:hover > a {box-shadow: 0px 0px 5px 0 #fb4400; background:#ee8500;
    background: -moz-linear-gradient(top, #ee8500, #fb4400); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom,color-stop(0%,#ee8500), color-stop(100%,#fb4400));/* Chrome 1-9, Safari 4-5 */
    background: -webkit-linear-gradient(top, #ee8500, #fb4400);/* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(top, #ee8500, #fb4400); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ee8500, #fb4400); /* IE10 */
    background: linear-gradient(top, #ee8500, #fb4400); /* CSS3 */}
#jtmenu > ul > li > ul {display:none; }
#jtmenu > ul > li:hover > ul {display:block; position:absolute; left:4px; top:26px; z-index:99999; width:190px; }
#jtmenu > ul > li:hover > ul > li {width:100%; display:block; height:24px; line-height:24px; filter: progid:DXImageTransform.Microsoft.alpha(opacity=90);
-moz-opacity: 9;
opacity: 0.9;}
#jtmenu > ul > li:hover > ul > li > a {font-size:14px; font-weight:normal; text-transform:lowercase; }
.catli {float:left; padding:10px; margin-left:10px;}
.catli div {width:150px; height:100px; overflow:hidden; }
#fulltitle {color:#fb4400; text-shadow:1px 1px #fff; text-transform:uppercase;}
.fullnews {padding-top:6px; display:inline-block; width:33%; text-align:center; }
.fullnews a {border-radius:5px; font-weight:bold; color:#fff; text-transform:uppercase; font-size:14px; display:inline-block; padding:3px 9px; background:url('../images/tmenu_back.png') left center repeat-x #58aeae; border:1px solid #fff; }
.fullnews a:hover {background:#ee8500; color:#fff; background:#ee8500;
    background: -moz-linear-gradient(top, #ee8500, #fb4400); /* Firefox 3.6+ */
    background: -webkit-gradient(linear, left top, left bottom,color-stop(0%,#ee8500), color-stop(100%,#fb4400));/* Chrome 1-9, Safari 4-5 */
    background: -webkit-linear-gradient(top, #ee8500, #fb4400);/* Chrome 10+, Safari 5.1+ */
    background: -o-linear-gradient(top, #ee8500, #fb4400); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ee8500, #fb4400); /* IE10 */
    background: linear-gradient(top, #ee8500, #fb4400); /* CSS3 */}
.stryplace {border-bottom:1px solid silver; padding-bottom:10px; margin-bottom:10px; }
.stryplace div, .stryplace p {}
.stryplace ul li {list-style-type:square; padding-left:15px; list-style-position:inside; }
.middleoftop {height:88px; width:1000px; position:relative;}
.cyberslider {width:1000px; height:323px; background:url('../images/cyberhelp_slider_withoutcomp.png') left top no-repeat; overflow:hidden; position:relative;}
.cybernotmainslider {width:1000px; height:323px; background:url('../images/cyberhelp_slider_withoutcomp.png') left top no-repeat; overflow:hidden;  }
.cyberlogo, .cyberphone, .cyberslogan {position:absolute;}
.cyberlogo {width:363px; height:82px; background:url('../images/cyberhelp_logo.png') left top no-repeat; left:0; top:0;}
.cyberlogo a {display:block; width:363px; height:inherit; }
.cyberphone {width:270px; height:68px; background:url('../images/phone.png') center top no-repeat; left:403px; top:10px;}
.cyberphone span {position:absolute; left:26px; top:6px; font-size:20px; text-transform:uppercase; color:#818181; font-style:italic; font-weight:bold; }
.cyberphone span img {vertical-align:top; }
.cyberslogan {width:359px; height:88px; background:url('../images/cyberhelp_slogan.png') right top no-repeat; right:0; top:0; }
.cyberslogan * {display:none; }
.cyberslider {color:#000;}
#leftslider {position:absolute; top:40px; left:110px; width:780px; height:256px; z-index:1; overflow:hidden;}
#leftslider .column {float:left; width:10%; height:110%; overflow:hidden; padding:0; margin:0; position:relative; top:-10%;}
#leftslider .column > div {position:absolute; top:0; text-align:center; color:#6eea96; font-family:verdana; }
#rightslider {position:absolute; width:780px; height:260px; top:40px; left:110px; overflow:hidden; text-align:left; color:#000; z-index:2;}
#rightslider > div {background:url('../images/rs_rep.png'); padding:20px; border-radius:5px; min-height:220px;}
#rightslider div {color:#000; font-size:16px; text-shadow:1px 1px #fff; text-align:justify; }
#rightslider p, #dle-content p {padding-bottom:6px; line-height:1.4;}
#rightslider p input, #dle-content input {border-radius:5px; font-weight:bold; color:#fff; text-transform:uppercase; font-size:12px; padding:3px 9px; background:#0b8989; border:1px solid #fff; cursor:pointer; }
#rightslider p input:hover, #dle-content input:hover {background:#ee8500;}
#rightslider p a, #rightslider ul li a  {display:inline; }
#rightslider ul li {padding-left:10px; list-style-type:square; list-style-position:inside; }
.middle {width:1000px; background:url('../images/cyberhelp_content_rep.png') left top repeat-y; overflow:hidden; }
.maincontblock {width:24%; height:340px; float:left; overflow:hidden; }
.maincontblock ul li {padding:4px 0 4px 20px; background:url('../images/li.png') left center no-repeat; font-size:14px; }
.maincontblock ul li span, .maincontblock ul li a {font-size:inherit; }
.maincontblock h2, .orange {color:#fb4300;}
.maincontblock h2 {text-transform:lowercase;}
.maincontblock h2 span {display:block; font-size:16px; text-transform:uppercase;}
.paddingmid {padding:0 30px;}
.footer {padding:30px 0 0 0; text-align:center; font-size:12px; background:url('../images/cyberhelp_footer.png') center top no-repeat; }
#mainfooter {line-height:2; text-align:center;font-size:12px;}
#mainfooter a {font-size:12px; }
#mainfooter img {width:2px; height:2px;}

.none {display:none; width:0; height:0;}
.cyberallcont {width:940px;overflow:hidden; }
#forumsadds {display:inline; position:relative; z-index:1; }
#forumsadds ul {display:none; }
#forumsadds:hover ul {display:block; position:absolute; left:0; top:0; z-index:99999; background:#d2d2d2;  padding:3px; width:120px; }
.forum_input, .forum_input {cursor: text !important;  }
#gallery {padding-left:8%; }
#gallery a img {width:250px; }
#gallery a {display:block; float:left; width:250px; height:200px; overflow:hidden;margin:10px 0 0 10px; background:url('../images/loader.gif') center no-repeat;}
#speedbar span, #speedbar a {font-size:11px; }
.pricetable {background:#fff;}
.pricetable tr td {padding:3px; border-collapse:collapse; border:1px dotted silver; }
.buttonins a {border-radius:5px; font-weight:bold; color:#fff; text-transform:uppercase; font-size:13px; display:inline-block; padding:3px 9px; background:url('../images/tmenu_back.png') left center repeat-x #58aeae; border:1px solid #fff; }
.buttonins a:hover {background:#ee8500; color:#fff; }
#dle-content h1, #dle-content h2, #dle-content p {padding:6px 0; }
#jTest {/*min-height:240px; */}
#viewform {box-shadow: 0px 0px 5px 0 #016666; border-radius:20px;}
#viewform:hover {box-shadow: 0px 0px 5px 0 #818181;}
#ajaxTooltip {position:fixed; left:30%; top:10%; z-index:99999; background:#fff; border-radius:5px; width:20%; padding:10px; font-size:13px;}
#ajaxTooltip ul li {list-style-type:square; list-style-position:inside;}
